mixin input(type, name, className, labelText)
    .input-container
        input(type=type, name=name, class=className, placeholder=labelText)
        if labelText
            label(for=name).input-label=labelText